# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# contemporary files
*~

# C extensions
*.so

# FashionMNIST dataset
Dataset/FashionMNIST

# PyCharm project
*.ipr
*.iml
.idea/

# Python cache
*__pycache__*

# Jupyter checkpoints
.ipynb_checkpoints/

# Data
Dataset/*
mnist/*

# Saved models
*.pt
*.pth
06_Contrastive_Learning/content/*

